<!--
<label>radius</label>
<input id="radius" type="range" min="1" max="50" step="1" value="5" ng-model="params.radius" />
<label>blur size</label>
<input id="blur" type="range" min="1" max="50" step="1" value="15" ng-model="params.blur" />
-->
<div id="map"></div>
<ul>
	<li ng-repeat="layer in layers">
		<input type="checkbox" ng-checked="layer.getVisible()" ng-click="toggleVisible(layer)" />
		{{ layer.get('name')}}
	</li>
</ul>
<p>Population density: {{population.density}} / km^2</p>
<p>Population: {{population.size}} / square</p>